/* :root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
} */

.VPHomeHero .name .clip {
  background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff) !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
}
@media (min-width: 960px) {
  .VPHomeHero .name .clip {
    font-size: 68px;
  }
}
img {
  border-radius: 4px;
}
.vp-doc :not(pre) > code {
  color: #fa4400;
}
.vp-doc [class*='language-'] code {
  padding: 0;
}


.home-container {
  margin: 0 auto;
  max-width: 1152px;
  padding: 25px 0;
}
